<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taverna">
    <!--
    Na pocetku aplikacije specificiramo koje sve permisije (prava pristupa) nasa
    aplikacija zahteva. Svaku permisiju korisnik mora da dopusti. Ovaj oblik permisija
    se unutar Android-a naziva staticke permisije.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taverna"
        android:usesCleartextTraffic="true">
        <activity android:name=".EditProfilActivity"></activity>
        <activity android:name=".ProdavacGlavnaActivity" />
        <activity android:name=".prodavacProzori.ProdavacGlavnaActivity" />
        <activity android:name=".EditArtikalActivity" />
        <activity android:name=".ListaProdavaca" />
        <activity android:name=".RegisterProdavac" />
        <activity android:name=".DodavanjeRecenzije" />
        <activity android:name=".Porudzbine" />
        <activity android:name=".KorpaAktiviti" />
        <activity android:name=".Korisnici" />
        <activity android:name=".ProfilKorisnika" />
        <activity android:name=".DodavanjeAkcije" />
        <activity android:name=".Akcije" />
        <activity android:name=".DodavanjeProizvoda" />
        <activity android:name=".Komentari" />
        <activity
            android:name=".JeloAktiviti"
            android:theme="@style/Theme.Taverna.NoActionBar" />
        <activity
            android:name=".Prodavci"
            android:theme="@style/Theme.Taverna.NoActionBar" />
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.Taverna.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GlavnaStranaActivity" />
    </application>

</manifest>